services:
  app-dev:
    container_name: mu-digital-dev
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    network_mode: "host"
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - WATCHPACK_POLLING=true
      - PORT=4000
      - ALLOWED_IP_PREFIX=${ALLOWED_IP_PREFIX}
    restart: always